@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Play, sans-serif;
    color: #5c5a58;
}

header {
    margin: 20px 0;
}
/*nav section */
#menu {
    list-style-type: none;
    font-family: Cinzel, sans-serif;
    font-weight: bold;
    font-size: 150%;
    letter-spacing: 2px; 
    line-height: 150px;
    display: flex;
    justify-content: space-around;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 2px solid #5c5a58;
}

.active {
    border-left: 2px solid #5c5a58
}

nav ul {
    align-items: center;
    padding: 0;
    
}


#cover-text, #cover-text h1, #cover-text p {
    color: #130633;
}

#rolling-images {
    background: url('../images/woman-table.webp') no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
}

#cover-text {
    font-family: Cinzel, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    width: 500px;
    height: 250px;
    bottom: 50px;
    right: 150px;
    position: absolute;

}

/* media queries screen width>340px */
@media  screen and (max-width: 340px) {

    #menu {
        line-height: 30px;
        flex-direction: column;;
    }  
}

