@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Play, sans-serif;
    color: #5c5a58;
    background-color: #F9F6F0;
}

header {
    margin: 20px 0;
}

/* -------------------------------------- nav section */

#menu {
    list-style-type: none;
    font-family: Cinzel, sans-serif;
    font-weight: bold;
    font-size: 150%;
    letter-spacing: 2px; 
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    flex-direction: column;;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 2px solid #5c5a58;
}

.active {
    border-left: 2px solid #5c5a58
}

nav ul {
    align-items: center;
    padding: 0;
    
}

/* ----------------------------------- home page image */

#frontimage-outer {
    height: 300px;
    overflow: hidden;
}

#front-image {
    background: url('../images/woman-table.webp') no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1)
    }
}

/* ----------------------------------- home page text */

#cover-text {
    color: #130633;
    text-align: center;
    font-family: Cinzel, sans-serif;
    letter-spacing: 2px;
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
}

#cover-text p {
    padding: 0 6px;
}

/* ----------------------------------- media queries screen width>340px */

@media  screen and (min-width: 340px) {

} 

