@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Play, sans-serif;
    color: #5c5a58;
    background-color: #F9F6F0;
}

header {
    margin: 10px 0;
}

h1 {
    font-family: Cinzel, sans-serif;
    color: #F9F6F0;
    letter-spacing: 2px;
    font-size: 125%;   
}
#title-container {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}
#header-image {
    background: url('../images/flower.webp') no-repeat;
    background-size: cover;
    height: 100px;
    position: relative;
    overflow: hidden;

}
/* -------------------------------------- nav section */

#menu {
    list-style-type: none;
    font-family: Cinzel, sans-serif;
    font-weight: bold;
    font-size: 100%;
    letter-spacing: 2px; 
    display: flex;
    justify-content: space-around;
    line-height: 20px;
    flex-direction: column;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 2px solid #5c5a58;
}

.active {
    border-left: 2px solid #5c5a58
}

nav ul {
    align-items: center;
    padding: 0;
    
}

/* ----------------------------------- home page image */

#frontimage-container {
    overflow: hidden;
    position: relative;
}

#front-image {
    background: url('../images/woman-table.webp') no-repeat center;
    background-size: cover;
    height: 300px;

    /* animates zoom effect on loading page */
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1)
    }
}

/* ----------------------------------- home page text */

#cover-text {
    color: #130633;
    text-align: center;
    font-family: Cinzel, sans-serif;
    font-size: 90%;
    letter-spacing: 2px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#cover-text p {
    padding: inherit;
}

/* ------------------------------------footer section */

footer {
    background-color: #5c5a58;
    height: 75px;
    color: #F9F6F0;
    text-align: center;

    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
/* ----------------------------------- media queries screen width>340px */

@media  screen and (min-width: 340px) {

} 

